* {
    padding: 0;
    margin: 0;
}

header {
    background-image: url(/image/Background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    
    height: 200vh;

}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 33px 58px 191px 100px;
    gap: 50px;
}

.MN-leftnav,.MN-rightnav {
    display: flex;
    list-style: none;
    flex: 0 1 auto;
    gap: 50px;
    color: white;
    
    
    
}

.MN-hotel {
    font-size: 62px;
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

.MN-p {
    text-align: center;
    margin-bottom: 123px;
}

.MN-p img {
    margin-left: 17px;

}

.MN-book {
    background-color: white;
    margin: 0 auto 229px auto;

    max-width: 965px;
    

    
} 
.MN-div-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    
}
.MN-book__Subtitle {
    display: flex;
    
}

.MN-book__title_p {
font-size: 26px;
font-weight: 500;
letter-spacing: 0em;
text-align: center;
color: #FFBC73;
margin-bottom: 17px;

}

.MN-div__items p:first-child {
    margin-bottom: 23px;
}

.MN-btn {
    display: flex;
    background-color: #FFBB73;
    justify-content: center;
    align-items: center;
    width: 224px;
    height: 109px;
    align-self: flex-end;
    
}




